{% extends "base.html" %}

{% block title %}
Home - Deep Learning for Wireless Community Networks
{% endblock %}

{% block content %}
<h1>Deep Learning for Wireless Community Networks</h1>
<h3>Using deep learning to classify packets coming to and from a community network to ensure QoS in a low resource environment.</h3>
<h4>This project was done by computer science honours students Boitumelo Mokoka, Michael Gamsu and Ryan Murphy.</h4>

<h3>Context and Goals of this Project</h3>
<p>The goal of this project is to classify network packets into their respective classes...</p>
<img src="{{ url_for('static', filename='images/community_network.jpg') }}" alt="Community Network Diagram" width="500" height="300">
{% endblock %}
